* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
  }
  body .navbar {
    height: 80px;
    width: 100%;
    background: linear-gradient(rgb(145, 99, 203), #9198e5);
    border-radius: 0px 0px 128px 10px;
    box-shadow: 0 0 0 rgb(145, 99, 203);
    display: flex;
    justify-content: start;
    gap: 10%;
    align-items: center;
    position: absolute;
  }
  body .navbar .logo {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .navbar .logo img {
    filter: drop-shadow(3px 3px 1px rgb(193, 158, 224));
  }
  body .navbar .nav {
    height: 80px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap-reverse;
  }
  body .navbar .nav #burger {
    display: none;
  }
  body .navbar .nav nav {
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body .navbar .nav nav a {
    color: rgba(255, 255, 255, 0.583);
    text-decoration: none;
    font-size: 20px;
  }
  body .navbar .nav nav a:hover {
    border-bottom: solid white 1px;
    color: white;
    scale: 1.08;
}
body .navbar .nav nav a:active {
    color: #3C096C;
}


  body .baniere {
    width: 100%;
    height: 58em;
    z-index: -1;
    background: linear-gradient(rgba(24, 0, 0, 0.812), rgba(0, 0, 0, 0.5098039216)), url("https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_640.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  body .baniere h1, body .baniere .h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
  }
  body .baniere h3, body .baniere .h3 {
    font-size: 25px;
    text-align: center;
  }
body .navbar .nav nav #langue {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .navbar .nav nav #langue i {
    font-size: 30px;
    color: #240046;
  }
  .langage{
    position: absolute;
    bottom: -200%;
    background: #3c096c59;
    display: none;
  
}
.langage li{
    border: 1px solid rgba(255, 255, 255, 0.222);
    height: 25px;
    width: 100px;
    background: #3c096c59;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
  
}
  body .navbar .nav nav #langue i:hover {
    color: #3C096C;
  }
  body .navbar .nav nav #langue i:active {
    color: #C77DFF;
  }
  body .navbar .nav nav .nav-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 10%;
    font-size: 15px;
  }
  body .navbar .nav nav .nav-contact a {
    color: rgba(255, 255, 255, 0.583);
    text-decoration: none;
    font-size: 15px;
  }
  body .navbar .nav nav .nav-contact a:hover {
    border-bottom: solid white 1px;
    color: white;
  }
.formation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}
.content-formation{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    
}
.courte-longue{
    gap: 5%;
    justify-content: center;

    display: flex;
    padding: 20px;
    margin: 10px;
flex-wrap: wrap;
overflow-y: auto;
    height: 40em;
    width: 78%;
    border-radius: 50px;
background: #ffffff;
box-shadow: inset -41px 41px 82px #d9d9d9,
            inset 41px -41px 82px #ffffff;
    transition: 2s;

            
    
}
.courte-longue h1{
    font-size: 200%;
    padding-top: 250px;
}
.courte-longue::-webkit-scrollbar{
    width: 0px;
}
.navi{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 15px;
}
.navi input{

border-radius: 50px;
background: #DEC9E9;
box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
border: none;
height: 25px;
width: 50%;

}
.navi input:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #e9daf0, #DEC9E9);
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
    

}
.navi input:active{
    border-radius: 50px;
background: #ffffff;
box-shadow: inset 20px 20px 60px #d9d9d9,
            inset -20px -20px 60px #ffffff;
}
.form{
    height: 25em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(204, 0, 236, 0.073);
    border-radius: 20px;
    transition: 1s;
    box-shadow: 10px 1px 12px 1px rgba(0, 0, 0, 0.081);
    transition: 1s;
    gap: 2%;
}
.form p {
    text-align: center;
}
.form:hover{
    scale: 1.1;
    z-index: 3;
}

#pkMG{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding: 10%;
    
}
#pkMG h1{
    font-size:200%;
    color:#9198e5;
    text-shadow: 1px 2px 3px #3C096C;
    padding-bottom: 20px;
}
#videoPK{
    width: 100%;
    height: 30em;
    padding: 20px;
    display: flex;
    justify-content: center;
}
#videoPK iframe{
    border-radius: 20px;
    width: 50%;
    height: 100%;
  
}
#contentPK{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#contentPK div{
    width: 300px;
    height: 380px;
    text-align: center;
    background: #24004666;
    padding: 20px;
    border-radius: 20px;
}


#testament{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
#testament div{
    width: 650px;
    height: auto;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;   
    
    
}
#testament div iframe{
    border-radius: 15px;
    width: 80%;
}
#FAQ{
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
}
#content-FAQ{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.faq{
    text-align: start;
    width: 80%;
    padding: 20px;
    border-radius: 50px;
    transition: 2s;

background: linear-gradient(225deg, #410a7479, #3608617c);

    box-shadow:  -41px 41px 82px #d9d9d9,
             41px -41px 82px #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
}
.faq p{
    width: auto;
    text-align: center;
    transition: 2s;

}












body footer {
    width: 100%;
    height: 20em;
    background: linear-gradient(rgb(145, 99, 203), #9198e5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -41px -41px 82px #d9d9d9, 41px 41px 82px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body footer .resaux {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  body footer .resaux i {
    color: white;
    font-size: 40px;
  }
  body footer .resaux i:hover {
    color: #3C096C;
  }
  
  /* ########### HEADER ########### */
  /* ############ MAIN ############ */
  /* ########### FOOTER ########### */
  /* ######### RESPONSIVE ######### */
  /* ### SMARTPHONE ### */
  @media (max-width: 576px) {
    body .navbar {
      gap: 0;
    }
    body .navbar .logo {
      width: 50%;
    }
    body .navbar .nav {
      width: 50%;
      justify-content: flex-end;
    }
    body .navbar .nav nav {
      display: none;
    }
    body .navbar .nav #burger {
      display: block;
      width: 50%;
      margin: 0;
    }
    body .navbar .nav #burger i {
      color: white;
      font-size: 40px;
    }
  }
  /* ### TABLET ### */
  @media (min-width: 577px) and (max-width: 775px) {
    body .navbar {
      gap: 0;
    }
    body .navbar .logo {
      width: 50%;
    }
    body .navbar .nav {
      width: 50%;
      justify-content: flex-end;
    }
    body .navbar .nav nav {
      display: none;
    }
    body .navbar .nav nav a {
      font-size: 10px;
    }
    body .navbar .nav #burger {
      display: block;
      width: 50%;
      margin: 0;
    }
    body .navbar .nav #burger i {
      color: white;
      font-size: 40px;
    }
  }
  /* ### DESKTOP ### */
  @media (min-width: 770px) and (max-width: 1024px) {
    body .navbar {
      gap: 0;
    }
    body .navbar .logo {
      width: 15%;
    }
    body .navbar .logo img {
      height: 50px;
    }
    body .navbar .nav {
      width: 85%;
      justify-content: flex-start;
    }
    body .navbar .nav nav {
      gap: 5px;
      font-size: 10px;
    }
    body .navbar .nav #langue {
      height: 20px;
      width: 20px;
    }
    body .navbar .nav #langue i {
      font-size: 10px;
      color: #240046;
    }
    body .navbar .nav .nav-contact a {
      color: rgba(255, 255, 255, 0.583);
      text-decoration: none;
    }
    body .navbar .nav .nav-contact a:hover {
      border-bottom: solid white 1px;
      color: white;
    }
  }
  /* ### BIG DESKTOP ### */
  
  /*# sourceMappingURL=app.css.map */
  